*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container{
    background: rgb(0,0,0,.6);
    color: white;
margin-top: 5%;
padding: 50px;
}
